//=============/ ABOUT /=============
.about {
	background-color: $whiteColor;
	
	&__descr {
		font-size: 30px;
		line-height: 160%;
		max-width: 892px;
		margin-bottom: 60px;

		@include medium {
			font-size: 26px;
			margin-bottom: 50px;
		}

		@include extra-small {
			font-size: 20px;
			margin-bottom: 40px;
		}
	}

	&__descr-highlight {
		font-weight: 600;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;

		@include small {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item{
		grid-column: 3 span;

		@include extra-large {
			grid-column: 6 span;
		}

		@include small {
			grid-column: 4 span;
			text-align: center;
		}
	}

	&__digit {
		font-weight: 600;
		font-size: 70px;
		line-height: 160%;
		color: $accentColor;
	}

	&__text {
		font-size: 18px;
		line-height: 160%;
		color: rgba(20, 16, 36, 0.7);
	}
}
