//=============/ BENEFITS /=============
.benefits {
	background-color: #f9f9f9;

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
	}

	&__item {
		grid-column: 4 span;
	}

	&__subtitle {
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		margin-bottom: 20px;
	}

	&__descr {
		line-height: 160%;
		color: rgba(20, 16, 36, 0.7);
	}
}
