//=============/ BENEFITS /=============
.benefits {
	background-color: #f9f9f9;

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;

		@include small {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {
		grid-column: 4 span;

		@include extra-large {
			grid-column: 6 span;
		}

		@include small {
			grid-column: 4 span;
			text-align: center;
		}
	}

	&__subtitle {
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		margin-bottom: 20px;

		@include medium {
			font-size: 22px;
			margin-bottom: 15px;
		}

		@include small {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	&__descr {
		line-height: 160%;
		color: rgba(20, 16, 36, 0.7);

		@include small {
			font-size: 14px;
		}
	}
}
