//=============/ HEADER /=============
.header {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: #141024;
	width: 100%;
	padding: 30px 0;
	@include flex-h-center;
	max-height: 70px;

	&__container {
		@include flex-center-sb;
	}

	&__phone {
		font-weight: 600;
		font-size: 30px;
		line-height: 160%;
		color: $whiteTextColor;
	}
}

//=============/ LOGO /=============
.logo {
	font-weight: 700;
	font-size: 30px;
	line-height: 160%;
	color: $whiteTextColor;
}

//=============/ NAV /=============
.nav {
	&__list {
		@include flex-h-center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__link {
		font-size: 20px;
		line-height: 160%;
		color: $whiteTextColor;
	}
}
