//=============/ 	TARIFFS /=============
.tariffs {
	&__items {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;

		@include medium {
			gap: 20px;
		}

		@include small {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {
		grid-column: 4 span;
		padding: 40px;
		background-color: $whiteColor;
		border-radius: 20px;
		border: 1px solid rgba(20, 16, 36, 0.2);
		border-radius: 20px;
		@include flex-column-center;
		transition: all 0.4s ease;
		@include hover {
			transform: scale(1.1);
			background: #141024;
			color: $whiteTextColor;
		}

		@include large {
			grid-column: 6 span;
		}

		@include medium {
			padding: 30px;
		}

		@include small {
			grid-column: 4 span;
		}
	}

	&__subtitle {
		font-weight: 600;
		font-size: 30px;
		line-height: 160%;
		margin-bottom: 83px;
		@include flex-h-center;

		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 3px;
			background-color: currentColor;
			margin-right: 10px;
		}

		&::after {
			content: "";
			display: block;
			width: 20px;
			height: 3px;
			background-color: currentColor;
			margin-left: 10px;
		}
	}

	&__price {
		font-weight: 600;
		font-size: 50px;
		line-height: 160%;
		margin-bottom: 20px;

		@include extra-large {
			font-size: 45px;
		}

		@include medium {
			font-size: 42px;
		}

		@include small {
			font-size: 50px;
		}
	}

	&__descr {
		font-weight: 400;
		font-size: 18px;
		line-height: 160%;
		margin-bottom: auto;
		text-align: center;
	}

	&__btn {
		margin-top: 52px;
		color: $whiteTextColor;
		width: 100%;
		padding: 25px 0;
	}
}
