//=============/=============/=============
/*
burger: z-index: ;
header: z-index: ;
*/

//=============/=============/=============
._site-container {
	min-height: 100vh;
	@include flex-column;
	overflow: hidden;
}

//=============/=============/=============
._container {
	width: 100%;
	max-width: #{$maxWidthContainer + px};
	padding: 0 15px;
	margin: 0 auto;

	&__wide {
		width: 100%;
		max-width: 1600px;
		padding: 0 15px;
		margin: 0 auto;
	}
}

//=============/=============/=============
._visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

//=============/=============/=============
._img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

//=============/=============/=============
._btn-reset {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

//=============/=============/=============
._list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

//=============/=============/=============
._input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 0;
	background-color: #fff;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

//=============/=============/=============
._section {
	padding: 120px 0;

	@include max-width-tablet {
		padding: 60px 0;
	}

	@include max-width-mobile {
		padding: 30px 0;
	}
}

//=============/=============/=============
._main-btn {
	@include flex-all-center;
	padding: 10px 20px;
	min-height: 48px;
	background-color: $accentColor;
	transition: background-color 0.4s ease;

	@media (any-hover: hover) {
		&:hover {
			background-color: rgba($accentColor, 0.6);
		}
	}
}

//=============/=============/=============
//- стили для scrollbar
//- по умолчанию для всего сайта
//- для определенного блока нужно подставить класс этого блока
// &::-webkit-scrollbar {
// 	width: 5px;
// }

// &::-webkit-scrollbar-track {
// 	background: #ссс;
// 	border-radius: 6px;
// }

// &::-webkit-scrollbar-thumb {
// 	background: #000;
// 	border-radius: 6px;
// }
