
//=============/ MAIN /=============
$maxWidth: 1920;
$contentWidth: 1160px;
$maxWidthContainer: 1190;
$mainFontFamily: "Jost", sans-serif;
$mainFontWeight: 400;
$mainFontSize: 18px;

//=============/ COLORS /=============
$whiteColor: #fff;
$whiteTextColor: #fff;
$blackColor: #000;
$blackTextColor: #000;
$darkColor: #222629;
$darkTextColor: #222629;
$grayColor: #676568;
$lightTextColor: #c6ccd2;
$lightColor: #d6dfea;
$accentColor: #d52027;

//=============/ BLOCKS /=============
$blockRadius: 5px;
$blockShadowDark: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
$blockShadowLight: 0px 0px 6px 0px rgba(255, 255, 255, 1);

//=============/ OFFSET /=============
$offsetMaximum: 100px;
$offsetHuge: 60px;
$offsetLarge: 40px;
$offsetMiddle: 30px;
$offsetSmall: 20px;
$offsetSmallBack: -20px;
$offsetMinimum: 10px;
$offsetMinimumBack: -10px;


:root {
  /* colors */
  --black-color: #000;
	--black-text-color: #000;
	--white-color: #fff;
	--white-yext-color: #fff;
	--dark-color: #222629;
	--dark-text-color: #222629;
	--light-color: #d6dfea;
	--light-text-color: #d6dfea;
	// --light-twxt-color: #c6ccd2;
	--gray-color: #676568;
	--accent-color: #d52027;
}